*.pyc
.idea
.DS_Store
node_modules/
node_modules
*-export/
npm-debug.log
.vscode/
.vscode
config/
static/
.node_modules
node_module
node_module/
.node_module
*config.js
*config.json
!webpack.config.js
!*.sample
front-page/*-dist