@import "./common.css";
.container {
    height: 100%;
    width: 100%;
}

.page {
    display: none;
    min-height: 100%;
    position: absolute;
    width: 100%;
}

.panel-left {
    height: 100%;
    left: 0;
    position: absolute;
    width: 20%;
}

.left-pad-item {
    display: block;
    width: 100%;
}

.panel-right {
    height: 100%;
    right: 0;
    position: absolute;
    text-align: center;
    width: 80%;
}

.list-group-item {
    text-align: left;
}

.input-group {
    margin: 0 auto;
}

.hidden {
    display: none;
}

.progress {
    margin: 0 auto;
    width: 60%;
}